{
    "local_account_list_path": "",

    "local_output_folder_path": "",

    "google_account_list_id": "",
    "google_account_list_sheet": "",

    "google_output_folder_id": "",
    "google_secret_file_path": "",

    "new_relic_insights_api_key": "",
    "new_relic_insights_api_account_id": "",

    "pivot_summary": {
        "rows": [],
        "columns": [],
        "values": []
    },

    "pivot_apm": {
        "rows": [],
        "columns": [],
        "values": []
    }
}